*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	width: 100%;
	background-size: cover;
}

/*Bagian untuk digunakan agar bagian header dan navbar agar fixed saat discroll*/
.fixedmenu{
	width: 100%;
	position: fixed;
	z-index: 10;
}

/*Bagian Header: Logo, Menu Login, register, profile dan setting*/
.header {
	background-color: #f9f9f9;
	width: 100%;
	height: 20%;
	display: inline-block;
	position: relative;
	border-bottom: 1px solid #eeee;
}
.logo{
	float: left;
	width: 28%;    
	padding-left: 110px;
}
.logo img{
	width: 155px;
	height: 67px;
	padding: 9px;
}

.search {
	width: 40%;
	display: flex;
	float: left;
	margin-top: 18px;
}

.searchTerm {
	width: 100%;
	border: 3px solid #00B4CC;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	color: #9DBFAF;
}

.searchTerm:focus{
	color: #00B4CC;
}

.searchButton {
	width: 50px;
	height: 36px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
 
.searchButton img{
	width: 95%;
    height: 100%;
    padding: 3px;
}

.daftarmasuk{
	float: right;
	width: 23%;
	padding: 17px 0;
	font-size: 20px;
	display: inline-block;
	position: relative;
}
.daftarmasuk a{
	width: 200px;
	height: 60px;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.login{
	width: 66px;
	height: auto;
	background: #555555;
	padding: 2px 0;
	border-radius: 10px;
	margin:0 5px;
}
.login:hover {
	background-color: #f9f9f9;
	color:#363737;
}
.register{
	width: 66px;
	height: auto;
	background: #f44336;
	padding: 2px 0;
	border-radius: 10px;
	margin:0 5px;
}
.register:hover {
	background-color: #f9f9f9;
	color:#363737;
}
.proset{
	float: right;
	width: 25%;
	height: max-content;
	padding: 17px 0;
	font-size: 20px;
	display: inline-block;
	position: relative;
	margin-right: -135px;
}
.profil{
	width: 12%;
	height: auto;
	padding: 3px 5px;
	margin: 0 7px;
	float: left;
}
.profil img{
	width: 100%;
	height: auto;
}
.profil:hover ul.subprofil  {
	display: block;
}
.subprofil{
	width: 45%;
	height: 85%;
 	padding: 5px 12px;
	display: none;
	position: absolute;
	background: #f9f9f9;
 	margin: -4px -56px;
	list-style: none;
}
.subprofil li a {
	width:auto;
	height: auto;
	display: block;
	text-align: center;
	z-index: 1;
	background-color: #f9f9f9;
	color: #363737 ;
	font-size: 14px;
	margin-top: 6px;
	text-decoration: none;
	font-weight: bold;
}
.subprofil li a:hover{
	display: block;
	position: relative;
	background-color: #f44336;
	color: #f9f9f9;
	height: 20px;
	width: 130px;
}
.setting{
	width: 12%;
	height: auto;
	padding: 3px 5px;
	margin: 0 7px;
	float: left;
}
.setting img{
	width: 100%;
	height: auto;
}
.setting:hover ul.subsetting  {
	display: block;
}
.subsetting{
	width: 45%;
	height: 85%;
	padding: 5px 12px;
	display: none;
	position: absolute;
	list-style: none;
	background: #f9f9f9;
	margin: -4px -56px;
}
.subsetting li a {
	width:auto;
	height: auto;
	display: block;
	text-align: center;
	z-index: 1;
	background-color: #f9f9f9;
	color: #363737 ;
	font-size: 14px;
	margin-top: 6px;
	text-decoration: none;
	font-weight: bold;
}
.subsetting li a:hover{
	display: block;
	position: relative;
	background-color: #f44336;
	color: #f9f9f9;
	height: 20px;
	width: 130px;
}


/*Bagian Menu Navbar*/
.menu{
	border-bottom: 1px solid #eeee;
}
.menu ul{
	margin: -5px -10px;
	background-color: #f9f9f9;
	text-align: center;
	color: black;
	padding: 12px;
}
.menu ul li{
	display: inline-block;
	position: relative;
}
.menu ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: #363737;
	font-weight: bold;
	font-size: 15px;
}
.menu ul li a:hover{
	background-color: #f44336;
	color: #f9f9f9;
}
.menu:hover .submenu{
	margin-top: 10px;
}
.menu  ul li:hover ul.submenu  {
	display: block;
}
.submenu {
	position: absolute;
	display: none;
	z-index: 2;
	width: initial;
}
.submenu li a {
	width:auto;
	display: block;
	text-align: center;
	z-index: 1;
	background-color: #f9f9f9;
	color: #363737 ;
}
.submenu li a:hover{
	display: inline-block;
	background-color: #78efe8;
}

/*Bagian slide yang berisi gambar wisata*/
.slider{
    width:100%;
    height:530px;
    position:relative;
    overflow:hidden;
    float:left;
    padding-top: 110px;
    }
.slide{
    width:100%;
    height:inherit;
    position:absolute;
    }
.slide img{
    width:100%;
    height:100%;
    position:absolute;
    }
.textslide{
	text-align: center;
	font-family: sans-serif;
	margin-top: 285px;
	color: white;
	font-size: 40px;
	position: absolute;
	width: 100%;  
}

/*Bagian utama yaitu berisi kumpulan konten yang ada*/
.allwisata {
	width: 1115px;
	height: 880px;
	padding-top: 30px;
	text-align: center;
	margin: 0 auto;
}
.column {
	float: left;
	width: 33.3%;
	margin-bottom: 30px;
	padding: 0 15px;
}
.column1 {
	float: left;
	width: 33.3%;
	margin-bottom: 30px;
	padding: 0 15px;
}
.column img {
	width: 100%;
	height: 200px;
}
.column1 img {
	width: auto;
	height: 200px;
}
.wisata {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.wisata a{
	text-decoration: none;
	color: #555;
}
.namatempat {
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

/*Bagian nomor halaman untuk melihat halaman selanjutnya dan sebelumnya*/
#page{
	width: 100%;
	height: 7%;
	text-align: center;
	display: inline-block;
	position: relative;
}
#page a, span{
	text-decoration: none;
	padding: 0 10px;
	font-weight: bold;
	font-size: 30px;
	color: #000;
	width: 30px;
	background: #dddd;
}

/*Bagian footer: berisi logo, tentang, layanan, dan sosmed*/
.footer{
	margin-top: 20px;
	width: 100%;
	height: 100%;
	background: #555555;
}
.logodown{
	max-width: 1498px;
	width: auto;
	align-content: center;
	height: 45%;
	align-items: center;
	text-align: -webkit-center;
	padding: 10px;
	display: inline-block;
	position: relative;
}
.logodown img {
	width: 9%;
}
.sosmed{
	width: 100%;
	height: 15%;
	padding: 0 20px;
	display: inline-block;
	position: relative;
}
.sosmed img {
	width: 20px;
	float: right;
	height: 20px;
	margin: 0 5px;
}
.footertext{
	width: 100%;
	height: 20%;
	margin: 10px 0;
	padding: 0 20px;
	display: inline-block;
	position: relative;
	color: #fff
}
.situs{
	float: left;
	position: relative;
	font-size: 13px;
}
.about{
	float: right;
	position: relative;
	font-size: 13px;
}
.about a{
	text-decoration: none;
	color: unset;
}
/*Bagian untuk text selengkapnya di slide*/
.background1{
	background-image: url("https://cdn2.tstatic.net/travel/foto/bank/images/jember_20170813_131727.jpg");
	height: 618px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5; 
	}
.wrap{
	background-color: rgba(0,0,0, 0.4);
	color: white;
	font-weight: bold;;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 80%;
	padding: 60px;
	font-size: 23px;
	text-align: center;
}

/*Bagian untuk halaman yang berisi konten yang disediakan*/
.bgatas{
	margin-top: 110px;
}
.bgatas h4{
	font-size: 20px;
	color: #363737;
}
.bgatas img{
	width: 500px;
	height: auto;
	margin-top: 10px;
}
.deskripsi{
	width: 50%;
	height: auto;
	margin: 5px 180px;
	padding: 0px 85px;
}
.deskripsi p{
	text-indent: 50px;
	color: #363737;
	font-size: 15px;
	text-align: justify;
	padding: 3px;
}
.deskripsi h1{
	text-align: justify;
	color: #363737;
	font-size: 15px;
	padding: 3px;
}
.deskripsi ol li a{
	display: block;
	text-align: justify;
	color: #363737;
	font-size: 15px;
	padding: 3px;
}

/*Bagian untuk halaman untuk menambah konten baru, setting, dan profile*/
.newconten{
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.judul{
	font-size: 30px;
	height: 50px;
	width: auto;
	margin-top: 65px;
}
.judul h4{
	text-align: center;
}
.row {
	width: auto;
	text-align: center;
}
.tambahkonten{
	display: inline-block;
 	padding: 50px 63px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	background: rgba(0,0,0,.8);
	position: relative;
	box-sizing: border-box;
	text-align: initial;
}
.gambar-add{
	display: grid;
	transform: translate(24%, 0%);
}
.gambar-add img{
	border: 3px solid #f9f9f9;
 	border-radius: 10px;
 	margin-bottom: 10px;
}
.gambar-add input{
	margin-left: 8px;
}
.add a{
	color: #f44336;
	font-weight: bold;
   	text-decoration: none;
}
.add p{
	margin-top: 15px;
	color: #03a9f4;
}
.isi-add{
	background: #f9f9f9;
	border: 1px solid #e4dfe0;
	border-radius: 3px;
	width: 225px;
	height: 24px;
	display: inline-block;
}
.add textarea{
	width: 300px; 
	height: 100px;
}
.tombolgabung{
	padding: 10px 86px;
	margin-top: 10px;
}
.tombol{
	background:#f9f9f9;
	margin: 0px 11px;
}

/*Bagian untuk responsive untuk ukuran 800px*/
@media screen and (max-width: 768px) {
/*responsive untuk bagian header*/
.logo {
	padding-left: 6px;
}
.insearch {
 	width: 190%;
}
.iconsearch {
	width: 19%;
	height: 80%;
	margin: -18px 105px;
}
.daftarmasuk {
	padding: 12px 8px;
	font-size: 17px;
	text-align: center;
}
.daftarmasuk a {
	padding: 4px 11px;
	margin: 21px 2px;
	font-size: 10px;
}
.proset{
	right:20%;
}
.profil{
	width: 30%;
	margin: unset;
}
.subprofil {
	width: auto;
	height: auto;
	margin: -5px -35px;
 	z-index: 2;
}
.subprofil li a {
	width: auto;
	height: auto;
	font-size: 11px;
	display: inherit;
}
.subprofil li a:hover{
	display: block;
	height: auto;
	width: auto;
}
.setting{
	width: 30%;
	margin: unset;
}
.subsetting {
	width: auto;
	height: auto;
	margin: -5px -16px;
	z-index: 2;
}
.subsetting li a {
	width: auto;
	height: auto;
	font-size: 11px;
	display: inherit;
}
.subsetting li a:hover{
	display: block;
	height: auto;
	width: auto;
}
/*responsive untuk navbar*/
.menu ul {
	margin-top: -5px;
	padding: 8px;
}

/*responsive bagian utama*/
.allwisata {
	width: 100%;
}
.column {
	width: 50%;
	height: 25%;
}
.column1 {
	width: 50%;
	height: 25%;
	transform: translate(110px, 0);
}

/*responsive bagian nomor halaman*/
#page a, span {
	font-size: 17px;
}

/*responsive bagian footer*/
.logodown {
	padding: 5px;
}
.logodown img{
	width: 20%;
}
.sosmed{
	text-align: center;
}
.sosmed img{
	float: none;
}
.footertext{
	text-align: center;
}
.situs{
	float: none;
}
.about{
	float: none;
}

/*responsive untuk halaman berisi konten*/
.bgatas h4 {
	font-size: 18px;
}
.bgatas img{
	width: 90%;
}
.deskripsi {
	width: 105%;
    height: auto;
	margin: 0px;
	padding: 0px;
}
.slider{
	height: 365px;
}

.textslide {
    margin-top: 215px;
    font-size: 25px;
}
}
@media screen and (min-device-width: 320px) and (max-device-width: 568px){
body{
	width: fit-content;
}
.fixed{
	width: 100%;
}
.header, .menu{
	width: 100%;
}
.logo{
	margin-left: 0px;
}
.daftarmasuk{
	width: 25%;
}
.allwisata{
	box-sizing: content-box;
    transform: translate(75px, 25px);
}
.column {
    float: left;
    width: 50%;
    margin-bottom: 65px;
    padding: 0 25px;
}
.column1 {
    transform: translate(280px, 0);
    width: 50%;
    margin-bottom: 65px;
    padding: 0 25px;
}
.slider{
	width: 115%;
}
.textslide {
	transform: translate(215px, 0px);
}
.footer{
	width: 115%;
	margin-top: 25px;
}
#page{
	width: 115%;
}
.bgatas{
    transform: translate(75px, 0px);
    font-size: 14px;
}
}
.bgatas h4{
    font-size: 14px;
}
.deskripsi {
    width: 105%;
    height: auto;
    margin: 5px 45px;
    padding: 0px 75px;
}
}