
.header {
    background-color: #00FFFF;
    min-height: 50px;
    text-align: center;
}
}
.logo img{
    width: 250px;
    padding: 10px;
    text-align: center;
}
.awal img{
    width: 1300px;
    height: 450px;
    border: 1px;
    margin-top: -15px;
    position: relative;
    z-index: 1;
    border-radius: : 10px;
    padding:10px;
    box-shadow: 0 3px 6px solid #fff;
    opacity: 2; 
    display: block;
}
.menu ul{
    margin-top: 3px;
    background-color: #f4f2f2;
    text-align: center;
	color: black;
	padding: 12px;
    border: 1px solid  #9c9c9c;
	box-shadow: 0 3px 6px #2095F2;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 20px;
}
ul.submenu li {
    display: block;
}
ul.submenu li a {
    display: block;
    padding: 5px 10px;
 }
 ul.submenu {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: left;
    position: absolute;
    top: 20px;
    display: none;
    z-index: 2;
 }
.submenu a:hover{
    color: #0a0a0a;
    background: #f4f2f2;}
.menu ul li {
    display: inline-block;
    position: relative;
}
.menu  ul li:hover ul.submenu  {
    display: block;
}
.edge{
    width: 100%;
    height: 900px;
    background-color: #78efe8;

}
.allwisata {
    width: 1300px;
    height: 900px;
    margin-top: 1px;
    margin-left: 21px;
    margin-right: 10px;
    background: #78efe8;
    color: #78efe8;
}
.wisata {
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 70px;
    float: left;
    width: 250px;
    position: relative;
}
.wisata img {
    width: 100%;
    height: auto;
}
h4 {
    color: #fdf3f3;
    position: absolute;
    bottom: -10px;
    font-size: 25px;
    width: 100%;
    text-align: center;

}
.nomor{
    position: absolute;
    color: #fdf3f3;
    font-size: 35px;
    margin-top: 1080px;
    margin-left: 800px;
}
.logodown{
    border: 1px;
    width: 98.5%;
    margin-bottom: 0px;
    margin-left: 20px;
    background: #ffff;
    padding: 1px;
}
.logodown img{
    width:180px; 
    height:60px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
}
.footer{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 40px;
    background: #f4f2f2;
    width: 98.5%;
    height: 85px;
    float: center;
    padding-bottom: 6px;
    border: 1px solid #9c9c9c;
    position: relative;
    display: block;
}
.sosmed{
    float: right;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 3px;
    position: relative;
}
.sosmed img {
    width: 40px;
    height: 40px;
    position: relative;
}
.situs{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: -190px;
    float: left;
    padding-right: -5px;
}
.about{
    margin-top: 40px;
    margin-bottom: 12px;
    margin-right: -115px;
    float: right;
    
}


@media screen and (max-width: 1000px){
.logo, .logo img, .awal img, .menu ul, .allwisata, .wisata, h4,.footer, .logodown {width:90%;}
