*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: white;
}
.fixed{
    width: 100%;
    position: fixed;
    z-index: 9999;
}
.header {
    background-color: #78efe8;
    text-align: center;
    width: 100%;
}
.logo img{
    width: 230px;
    padding: 10px;
    text-align: center;
}
.menu ul{
    margin-top: -5px;
    background-color: #f4f2f2;
    text-align: center;
	color: black;
	padding: 12px;
    border: 1.2px solid  #9c9c9c;
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #363737;
    font-weight: bold;
    font-size: 15px;
}
.menu ul li a:hover{
    background-color: #78efe8;
    color: #363737;
}
.menu:hover .submenu{
    margin-top: 10px;
}
.submenu {
    position: absolute;
    display: none;
    z-index: 2;
    width: initial;
 }
.submenu li a {
    width:70px;
    display: block;
    text-align: center;
    z-index: 1;
    background-color: #f4f2f2;
    color: #363737 ;
 }
.submenu li a:hover{
    display: inline-block;
    width:70px;
    background-color: #78efe8;
}
.menu  ul li:hover ul.submenu  {
    display: block;
}
.awal h4{
    z-index: 999;
    margin-top: -300px;
    font-size: 53px;
    position: absolute;
    width: 35%;
}
.awal img{
    top: 5;
    bottom: 20;
    font-family: sans-serif;
    padding-top: 140px;
    width: 100%;
    height: 450px;
    min-height: auto;
    position: relative;
    opacity: 0.7; 
    display: block;
    border-radius: 2px 2px 2% 2%;
    box-shadow: 15px 15px 10px #292929;
    background-size: 100%;
}
.edge{
    background-color: #8ef5e7;
    width: 100%;
    height: auto;   
}
.allwisata {
    width: 1300px;
    height: 900px;
    margin-top: -70px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #8ef5e7;
}
.wisata {
    top: 50;
    left: 50;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
    width: 250px;
    position: relative;
}
.wisata img {
    opacity: 0.8;
    margin-top: 30px;
    width: 280px;
    height: 170px;
    box-shadow: 6px 6px 12px #292929;
}
.wisata h4 {
    color: #fdf3f3;
    position: absolute;
    bottom: 30px;
    font-size: 25px;
    width: 100%;
}
.wisata img:hover{
    opacity: 1;
}
.next{
    width: 150px;
    height: auto;
    bottom: -750;
    left: 700;
}
.next p{
    bottom: -100;
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #363737;
    width: 30px;
    float: left;
    position: relative;
}
.logodown{
    border: 1px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 20px;
    background: #ffff;
    padding: 1px;
}
.logodown img{
    width:180px; 
    height:60px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
}
.footer{
    background: #f4f2f2;
    width: 100%;
    height: 62px;
    float: center;
    border: 1px solid #9c9c9c;
}
.footer p{
    bottom: -20;
    font-size: 10px;
    position: relative;
    color: #363737;
}
.sosmed{
    float: right;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-right: 5px;
    position: relative;
}
.sosmed img {
    right: 5;
    width: 25px;
    height: 25px;
    position: relative;
}
.situs{
    margin-top: 20px;
    margin-right: -190px;
    margin-left: 20px;
    float: left;
}
.about{
    margin-top: 20px;
    margin-right: -85px;
    float: right;
    padding-right: 5px;
}
.bgatas{
    margin-top: 135px;
}

.bgatas h4{
    font-size: 20px;
    color: #363737;
}
.bgatas img{
    width: 500px;
    height: auto;
}
.deskripsi{
    width: 1200px;
    height: 400px;
}
.deskripsi p{
    color: #363737;
    font-size: 15px;
    text-align: justify;
    padding: 3px;
}
.deskripsi h1{
    text-align: justify;
    color: #363737;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}
.deskripsi ol li a{
    display: block;
    text-align: justify;
    color: #363737;
    font-size: 15px;
    padding: 3px;
}
@media screen and (max-width: 100%){
.logo, .awal img, .menu ul,  .edge, .allwisata, .wisata, .wisata img, .logodown, .footer, .footer p {width:90%;}
